

:focus {outline:none;}
::-moz-focus-inner {border:0;}

a, a:visited, a:focus, a:active, a:hover{
    outline:0 none !important;
}

.appdeck-logo
{
    background-image: url('../img/logo-appdeck-red.png');
    background-size: 100% 100%;
    width: 98px;
    height: 25px;
    margin: 10px;
}

.navbar-appdeck
{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

/* advertisement */

.appdeck-ajax-page-loading
{

    margin-top: 150px;
    margin-bottom: 150px;

    width: 100%;

    text-align: center;
}

/* dashboard */

#main-stats {
    background-color: #FDFDFD;
    border-bottom: 1px solid #EFEEF3;
}
#main-stats .stats-row {
    box-shadow: -1px 0 5px 2px #F9F9F9 inset;
    margin: 0;
}
#main-stats .stat {
    border-right: 1px solid #E8E9EE;
    box-shadow: 1px 0 0 0 #FFFFFF;
    padding: 25px 0 30px;
    position: relative;
    text-align: right;
}
#main-stats .stat.last {
    border-right: 0 none;
}
#main-stats .stat .data {
    color: #29323A;
    font-size: 16px;
    font-weight: 600;
    padding-right: 50px;
    text-transform: uppercase;
}
#main-stats .stat .data .number {
    color: #32A0EE;
    font-size: 25px;
    margin-right: 15px;
}
#main-stats .stat .plus {
	display: none;
    color: #348017;
    font-size: 13px;
    font-style: italic;
    font-weight: lighter;
    position: absolute;
    left: 100px;
}
#main-stats .stat .date {
    color: #B4B8BB;
    font-size: 13px;
    font-style: italic;
    font-weight: lighter;
    position: absolute;
    right: 50px;
}

/* statistics */

.datepicker
{
    width: inherit;
}

.datemenu
{
    background-color: #EFEFEF;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    padding: 15px;
    margin: 15px;
    text-align: center;
}

/* fix footer show inside page */
#wpfooter
{
    display: none;
}


/* app config */
#nav-config
{
  background-color: white !important;
  font-size: 14px;
  z-index: 1000;
  border-bottom: 1px solid #eee;
  width: 100%;
  max-width: 1140px;
  padding-top: 50px;
    /*margin-left: auto;
    margin-right: auto;*/

    padding-left: 15px;
    padding-right: 15px;  
}

#nav-config > ul > li > a {
    padding: 10px 14px;
}


#nav-config > ul > li.active > a {
  padding: 6px 10px;
  margin: 4px;
}

.affix {
  width: inherit; //helped keep the content the same size on fluid layouts
  position: fixed;
  top: 0px;  //height of the nav
}
.affix-bottom {
  width: inherit;
  position: absolute;
  top: auto;
  bottom: 51px;  //height of the footer
}
.affix-top {
  //i didn't need this style but you might
}

.advanced
{
  display: none;
}

.nav > li.advanced
{
    display: none;
}

